@font-face {
    font-family: 'RobotoLight';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto'),
    url(../fonts/Roboto-Light.woff2),
    url(../fonts/Roboto-Light.woff);
}

@font-face {
    font-family: 'RobotoRegular';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'),
    url(../fonts/Roboto-Regular.woff2),
    url(../fonts/Roboto-Regular.woff);
}