ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.big-pictures li, .navbar li {
    display: inline;
}

.navbar {
    text-align: center;
}

p, a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: grey;
}

.program-start {
    text-align: center;
    margin: 40px 0 5px 0;
    color: grey;
}

.navbar li:nth-child(1) {
    padding: 0 30px 0 0;
}

.bigText {
    text-align: center;
    font-size: 72px;
    margin: 20px 0 7px 0;
    color: rgb(54,54,54);
}

.main {
    background-color: rgb(54,54,54);
    color: white;
    margin: 0;
    text-align: left;
}

.content {
    width: 1200px;
    margin: auto;
}

.footer {
    background-color: rgb(54,54,54);
    color: white;
    text-align: center;
    margin-top: 0;
}

