ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.big-pictures li, .navbar li, .main li, .small-pictures li {
    display: inline;
}

.navbar {
    margin-top: 10px;
    float: right;
}

p, a, h1, h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: grey;
}

.main a {
    color: white;
    margin-left: 40px;
}

.program-start {
    color: grey;
    display: inline-block;
    margin: 0;
}

.navbar li:nth-child(1) {
    padding: 0 30px 0 0;
}

.bigText {
    text-align: center;
    font-size: 72px;
    margin: 30px 0 20px 0;
    color: rgb(54,54,54);
}

.main {
    background-color: rgb(54,54,54);
    margin: 0;
    text-align: left;
    padding: 20px;
}

.article {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 55px;
    margin: 25px 0;
    color: rgb(54,54,54);
}

.article-text {
    margin: 0 0 40px 0;
    font-size: 22px;
    color: rgb(54,54,54);
}

.content {
    padding-top: 30px;
    width: 1200px;
    margin: auto;
}

.small-pictures img {
    margin-top: 8px;
}

.small-pictures li:nth-child(-n+3) {
    margin-right: 3px;
} 

.footer {
    background-color: rgb(54,54,54);
    color: white;
    text-align: center;
    margin: 25px 0 0 0;
    padding: 80px;
}