ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.big-pictures li, .navbar li, .main li, .small-pictures li, .social-list li {
    display: inline-block;
}

.navbar {
    margin-top: 10px;
    float: right;
}

p, a, h1, h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: grey;
}

.main a {
    color: white;
    margin-left: 40px;
}

.program-start {
    color: grey;
    display: inline-block;
    margin: 0;
}

.navbar li:nth-child(1) {
    padding: 0 30px 0 0;
}

.bigText {
    text-align: center;
    font-size: 72px;
    margin: 30px 0 20px 0;
    color: rgb(54,54,54);
}

.main {
    background-color: rgb(54,54,54);
    margin: 0;
    text-align: left;
    padding: 20px;
}

.article {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 55px;
    margin: 25px 0;
    color: rgb(54,54,54);
}

.article-text {
    margin: 0 0 40px 0;
    font-size: 22px;
    color: rgb(54,54,54);
}

.content {
    padding-top: 30px;
    width: 1200px;
    margin: auto;
}

.small-pictures img {
    margin-top: 8px;
}

.small-pictures li:nth-child(-n+3) {
    margin-right: 3px;
}

.line-div {
    position: relative;
    width: 320px;
    margin: 0 15px 20px 15px;
    height: 2px;
    background-color: rgb(154,154,154);
}

.line-div::before {
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    width: 161px;
    height: 2px;
    background-color: black;
    border-top: 1px solid black;
} 

.social-block {
    max-width: 350px;
    min-width: 350px;
    margin: 30px auto;
    border: 2px solid rgb(154,154,154);
    height: 240px;
}

.social-block p {
    margin: 15px 0px 10px 15px;
    font-size: 20px;
}

.social-list li {
    display: inline-block;
    margin-left: 30px;
}

.social-list li a {
    display: block;
    font-size: 14px;
    margin-left: 10px;
}

.social-list li:nth-child(3) a {
    margin-left: 20px;
}

.social-list li img {
    width: 100%;
    display: inline-block;
    max-width: 45px;
    margin: 40px 0 10px 20px;
}

.user-block {
    max-width: 350px;
    min-width: 350px;
    margin: 40px auto;
    border: 2px solid rgb(154,154,154);
    height: 500px;
}

.line-div2 {
    position: relative;
    width: 320px;
    margin: 0 15px 20px 15px;
    height: 2px;
    background-color: rgb(154,154,154);
}

.line-div2::before {
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    width: 157px;
    height: 2px;
    background-color: black;
    border-top: 1px solid black;
}

.users {
    margin: 15px 0px 10px 15px;
    font-size: 20px;
}

.user-block li img {
    margin: 25px 0 0 20px;
}

.user-list div {
    float: right;
    margin: 40px 140px 0 0;
}

 .user-list div p {
    margin: 0;
} 

.block-news {
    max-width: 734px;
    border: 2px solid rgb(154,154,154);
    margin: 40px auto;
    height: 370px;
}

.block-news p {
    font-size: 20px;
    margin: 15px 0 10px 15px;
    text-transform: uppercase;
}

.line-div3 {
    position: relative;
    width: 315px;
    margin: 0 15px 20px 15px;
    height: 2px;
    background-color: rgb(154,154,154);
}

.line-div3::before {
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    width: 215px;
    height: 2px;
    background-color: black;
    border-top: 1px solid black;
}

.news-list img {
    margin-left: 15px;
}

.news-content {
    float: right;
    margin-right: 250px;
}

.news-list h4 {
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
}

.news-list h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: grey;
    margin: 0;
}

.news-list h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: grey;
    margin: 20px 0 0 0;
}

.list-line {
    height: 1px;
    width: 96%;
    margin: 5px auto 10px auto;
    background-color: rgb(155,155,155);
}

.events-block {
    width: 810px;
    height: 784px;
    border: 2px solid rgb(154,154,154);
    margin: 30px 0 0 0;

}

.events-block p {
    margin: 15px 15px 10px 25px;
    font-size: 20px;
    text-transform: uppercase;
}

.line-div4 {
    margin: 0 0 30px 25px;
    width: 350px;
    height: 2px;
    background-color: black;
    border-top: 1px solid black;
}

.event-1, .event-2, .event-3, .event-4 {
    width: 360px;
    height: 200px;
}

.event-1 {
    background: url('./../hw_12_pic/Tile-Big-01.png');
    background-size: cover;
}

.event-2 {
    background: url('./../hw_12_pic/Tile-Big-02.png');
    background-size: cover;
}

.event-3 {
    background: url('./../hw_12_pic/Tile-Big-03.png');
    background-size: cover;
}

.event-4 {
    background: url('./../hw_12_pic/Tile-Big-04.png');
    background-size: cover;
}

.events-list li {
    display: inline-block;
    margin: 0 15px 0 25px;
}

.events-list li:nth-child(2n) {
    margin: 0 15px 0 10px;
}

.event-1 span {
    display: inline-block;
    font-size: 12px;
    padding: 3px 15px 3px 10px;
    margin-top: 181px;
    background-color: rgb(71,141,219);
    text-transform: uppercase;
}

.event-2 span {
    display: inline-block;
    font-size: 12px;
    padding: 3px 15px 3px 10px;
    margin-top: 181px;
    background-color: rgb(93,191,140);
    text-transform: uppercase;
}

.event-3 span {
    display: inline-block;
    font-size: 12px;
    padding: 3px 15px 3px 10px;
    margin-top: 181px;
    background-color: rgb(192,117,184);
    text-transform: uppercase;
}

.event-4 span {
    display: inline-block;
    font-size: 12px;
    padding: 3px 15px 3px 10px;
    margin-top: 181px;
    background-color: rgb(225,177,115);
    text-transform: uppercase;
}

.start {
    margin-top: 5px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

.date {
    display: block;
    color: grey;
    margin-top: 5px;
    font-size: 14px;
    margin-bottom: 40px;
}

.load-button {
    background-color: rgb(92,189,92);
    border: none;
    color: white;
    padding: 30px 32px;
    display: block;
    font-size: 12px;
    border-radius: 5px;
    margin-top: 90px;
    margin: 15px auto 0 auto;
}

.company-info {
    float: right;
}

.lectures {
    margin-top: 40px;
    padding: 20px;
    width: 100%;
    height: 280px;
    background: rgb(244,244,244);
}

.line-div5 {
    margin: 0 0 25px 0;
    width: 82px;
    height: 2px;
    background-color: black;
    border-top: 1px black;
}

.lectures p {
    margin: 0 0 10px 0;
    font-size: 20px;
    text-transform: uppercase;
}

.lectures-list li:nth-child(-n+3) {
    margin-right: 6px;
}

.lectures-list li {
    display: inline-block;
}

.lecture-1, .lecture-2, .lecture-3, .lecture-4 {
    width: 292px;
    height: 200px;
}

.lecture-1 {
    background: url('./../hw_12_pic/video-01.png');
    background-size: cover;
}

.lecture-2 {
    background: url('./../hw_12_pic/video-02.png');
    background-size: cover;
}

.lecture-3 {
    background: url('./../hw_12_pic/video-03.png');
    background-size: cover;
}

.lecture-4 {
    background: url('./../hw_12_pic/video-04.png');
    background-size: cover;
}

.footer {
    background-color: rgb(54,54,54);
    color: white;
    text-align: center;
    margin: 25px 0 0 0;
    padding: 80px;
}