.green {
    color: green;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

#description p { /* можно и #description > p */
    color: red;
}

#description span { /* можно и #description > span */
    color: green;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

#description span:first-child {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

#description span:nth-child(2) {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* начало с примерами */

h2 {
    font-size: 2em;
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
        
.small {
    font-size: 1em;
}
        
.bright {
    color: rebeccapurple;
}

blockquote {
    background-color: red;
    border: 2px solid green;
}
        
.fix-this {
    all: unset;
}

#outer div ul .nav a {
    background-color: blue;
    padding: 5px;
    display: inline-block;
    margin-bottom: 10px;
  }
  
  div div li a {
    color: yellow;
  }

#outer #inner a {
    background-color: initial;
}