p, a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.program-start {
    text-align: center;
    margin: 40px 0 0 0;
    color: grey;
}

ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
}

li {
    display: inline-block;
}

ul li:nth-child(1) {
    padding: 10px 15px 0 0;
}

ul li:nth-child(2) {
    padding: 10px 45px 0 15px;
}

.bigText {
    text-align: center;
    font-size: 100px;
    margin: 20px 0 7px 0;
    color: rgb(54,54,54);
}

a {
    text-decoration: none;
    color: grey;
}

.main {
    background-color: rgb(54,54,54);
    color: white;
    margin: 0;
    text-align: left;
}

.content {
    width: 1200px;
    margin: auto;
    color: rgb(54,54,54);
}

.article {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 0 0 20px 0px;
    font-size: 55px;
    color: rgb(54,54,54);
}

.article-text {
    text-align: left;
    margin: 0 0 15px 0;
    font-size: 22px;
    color: rgb(54,54,54);
}

.footer {
    background-color: rgb(54,54,54);
    color: white;
    text-align: center;
}